
html,
    body {
      background-color: #ffffff;
      height: 100%;
      width: 100%;
      overflow: hidden;

    }
#root {
    height: 100%;
}
    .chatHistory .userChat:hover {

        background-color: #eee;
  
      }
  
      .bg-message-sender {
  
        background-color: #89CFF0;
  
      }
  
      .chat {
        height: 50%;
        max-height: 50%;
      }
  
      #scroll-chat-btn-bottom:hover {
        background-color: #a5a4b7 !important;
      }
      
      .chat-message.date {
        border-radius: 15px;
         background-color: #ced4da;
          left: 15%;

      }
.room-container {
    color: black;
    text-decoration: none;
    /* background-color: aqua; */
    border: solid 1px grey;
}

.room-container:hover {
    background-color: #eee;

}


.sidenav {
  height: 100%;
  width: 0;
  position: fixed;
  z-index: 1;
  top: 0;
  left: 0;
  background-color: white;
  overflow-x: hidden;
  padding-top: 60px;
  transition: 0.2s;
}

.sidenav a {
  padding: 8px 8px 8px 32px;
  text-decoration: none;
  font-size: 20px;
  color: black;
  display: block;
  transition: 0.2s;
}

.sidenav a:hover {
  color: #f1f1f1;
}

.sidenav .closebtn {
  position: absolute;
  top: 0;
  right: 25px;
  font-size: 36px;
  margin-left: 50px;
}

.menu .search-input:disabled {
  background-color: white;
}